JWT_SECRET=local-dev-secret

SUPABASE_URL=supabase_url
SUPABASE_SERVICE_ROLE_KEY=supabase_service_role_key
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=supabase_publisher_key

NEXT_PUBLIC_CLIENT_WEB_URL=http://localhost:3000
NEXT_PUBLIC_CLIENT_API_URL=http://localhost:3000
